<!--
<mat-toolbar color="primary">
    <mat-toolbar-row>
       <a mat-button routerLink="/home">Accueil</a>
       <span class="spacer"></span>
        <span style="color:red;">Inscription</span>
      <a mat-button routerLink="/login">Connection</a>
    </mat-toolbar-row>
</mat-toolbar>
-->

<mat-card-title>
    <span style='padding:10px; font-size:80%;'>Inscription</span>
</mat-card-title>
<mat-card class="my-card" style='background: #F5F5F5; padding: 5px; margin: 10px;'>
    <mat-card-content>

        <!-- CONTENT HERE -->
        <p style='height: 5px;'>
           <mat-error  *ngIf="showError">*** {{ displayError() }} ***</mat-error>
        </p>
    
        <form #form="ngForm">
        
            <!--FORM FIELDS HERE -->
            <mat-form-field class="full-width">
                <mat-label>Prénom</mat-label>
                <!--input matInput [(ngModel)]="_firstName" class="form-control" placeholder="First name" (input)="onFirstName();" name="fname" (blur)="onFirstName();" required -->
                <!--input matInput placeholder="First name" (click)="onFirstName();" (input)="onFirstName();" name="fname" (blur)="onFirstName();" required -->
                <!--input matInput placeholder="First name" name="fname" [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}" (click)="onFirstName();"  required/ -->
                <!--input class="form-control" placeholder="First name" name="fname" (click)="onFirstName();"  required/ -->
                <!--input matInput placeholder="Input" name="firstName" [(ngModel)]="user.fName"  [ngModelOptions]="{standalone: true}" (click)="onFirstName();"  required-->
                <input matInput placeholder="Input" id="firstName" name="fName" [formControl]="fc_fName" (click)="onFirstName();" (input)="onFirstName();" required>
                <!--mat-error *ngIf="firstName.errors?.required">Le prénom est obligatoire</mat-error -->
                <mat-error *ngIf="fc_fName.errors?.required">Le prénom est obligatoire</mat-error>
                <mat-error *ngIf="fc_fName.errors?.conflict">Utilsateur déjà créé</mat-error>
                <mat-error *ngIf="fc_fName.errors?.invalid">Utilsateur déjà créé</mat-error>
            </mat-form-field>
            <!-- mat-form-field class="full-width" name="lname" *ngIf="fieldLastname" -->
            <mat-form-field class="full-width" name="lname">
                <mat-label>Nom</mat-label>
                <input matInput placeholder="Last Name" name="lname" [formControl]="fc_lName" (click)="onLastName();" required>
                <mat-error *ngIf="fc_lName.errors?.required">Le nom est obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Adresse</mat-label>
                <input matInput placeholder="Address" name="address" [formControl]="fc_address" (click)="onAddress();" required>
                <mat-error *ngIf="fc_address.errors?.required">L'adresse est obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label name="email">Email</mat-label>
                <input matInput [(ngModel)]="email" type="email" class="form-control" placeholder="Email" (blur)="onMail();" name="email" ngModel email>
                <mat-error>Format email invalide</mat-error>
                <mat-error *ngIf="fc_email.errors?.required">L'adresse email est obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Mot de passe</mat-label>
                <input matInput placeholder="Password" name="password" [formControl]="fc_password">
                <mat-error *ngIf="fc_password.errors?.required">Le mot de passe est obligatoire</mat-error>
            </mat-form-field>

            <section class="example-section">
                <label class="example-margin">Civilité:&nbsp;&nbsp;&nbsp;</label>
                <mat-radio-group [(ngModel)]="gender" [formControl]="fc_gender" (input)="onInputGender();">
                  <mat-radio-button class="example-margin" style='width:80px;' value="1" [checked]="true">Homme</mat-radio-button>
                  <mat-radio-button class="example-margin" style='width:80px;' value="2">Femme</mat-radio-button>
                   <mat-radio-button class="example-margin" style='width:80px;' value="3">Autre</mat-radio-button>
                </mat-radio-group>
              </section>
           
              <mat-form-field>
                <mat-label>Date de naissance</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Choisissez une date" [formControl]="fc_birthdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>            
        </form>

    </mat-card-content>
    <mat-card-actions>
        <!-- REGISTER BUTTON -->
        <button mat-raised-button (click)="register()" color="primary">ENREGISTRER</button>
   </mat-card-actions>
</mat-card>