<!--mat-toolbar>
    <span>Inscription</span>
</mat-toolbar -->
<!--
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--span><a  style="color:red; text-decoration: none;" href="/home">Accueil</a></span 
      <a mat-button routerLink="/home">Accueil</a>
        <span class="spacer"></span>
       <a mat-button routerLink="/register">Inscription</a>
       <span style="color:red;">Connection</span>
    </mat-toolbar-row>
  </mat-toolbar>
-->

<mat-card-title>
    <span style='padding:10px; font-size:80%;'>Connectez-vous ici</span>
</mat-card-title>

<mat-card class="my-card" style='background: #F5F5F5; padding: 5px; margin: 10px;'>
    <mat-card-content>

        <!-- CONTENT HERE -->
        <p>
           <mat-error  *ngIf="showError">{{ displayError() }}</mat-error>
        </p>

        <form #form="ngForm">
                 
            <!--FORM FIELDS HERE -->
            <mat-form-field class="full-width">
                <mat-label name="email">Votre adresse email</mat-label>
                <input matInput type="email" class="form-control" [formControl]="fc_email" placeholder="Email" (blur)="onEMail();" name="email" >
                <mat-error *ngIf="fc_email.errors?.email">Format email invalide</mat-error>
                <mat-error *ngIf="fc_email.errors?.required">L'adresse email est obligatoire</mat-error>
            </mat-form-field>
            
            <mat-form-field class="full-width">
                <mat-label>Mot de passe</mat-label>
                <input matInput placeholder="Password" type="password" name="password" [formControl]="fc_password" (blur)="onPassword();" >
                <mat-error *ngIf="fc_password.errors?.required">Le mot de passe est obligatoire</mat-error>
            </mat-form-field>
        </form>

    </mat-card-content>
    <mat-card-actions>
        <!-- REGISTER BUTTON -->
        <button mat-raised-button (click)="getUser()" color="primary">SE CONNECTER</button>
   </mat-card-actions>
</mat-card>