<!--p>user-home works!</p -->
<!--The content below is only a placeholder and can be replaced.-->


<!--div style="width:100%; text-align:center; background:orange" >
    <h1>
      {{ title }}
    </h1>

    <div style="position: absolute; right: 10%; top:5%;" *ngIf="showCurrentUser">
      <a (click)="onClickAction(); actionSelect.open()">
        <img src="../../assets/images/male.ico" alt="Utilisateur"/><span style="color:green;font-style: italic;">  {{ loggedUser.email }}</span>
      </a>
      <!--mat-form-field style="width: 100%; margin-top:1%;" -->
      <!--mat-select style="width:120px; position: absolute;  right: 200px;" [hidden]="hideDropDown" [disableOptionCentering]="true"  #actionSelect (change)="onChange($event.value)" -->
      <!--mat-select style="width:120px; position: relative;  right: 56%; top: 20px; visibility: hidden;" [disableOptionCentering]="true" #actionSelect (selectionChange)="onChange($event.value)" (onBlur)="onChange($event.value)" >
           <mat-option *ngFor="let action of actionsList" [value]="action">  {{ action }}</mat-option>
      </mat-select>
      <!--/mat-form-field 
    </div>
    
     <!--app-user-login (loggedUserEvent)="loggedUser=$event"></app-user-login
  </div -->
  <!--The content below is only a placeholder and can be replaced.-->
  <!--
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--span><a  style="color:red; text-decoration: none;" href="/home">Accueil</a></span 
      <span style="color:red;">Accueil</span>
       <span class="spacer"></span>
       <a mat-button routerLink="/register">Inscription</a>
       <a mat-button routerLink="/login">Connection</a>
    </mat-toolbar-row>
  </mat-toolbar>
-->

  <div>
    <div style="margin-top: 1%;">
        <mat-card-title>
            <span style='padding:10px; font-size:80%;'>Rencontres sécurisées sur profils similaires</span>
        </mat-card-title>
        <div style="margin-left: 2%;">
          <div>Inscription gratuite.</div>
          <div>Utiliser le lien 'Inscription' pour vous inscrire et accéder au site</div>
        </div>
    </div>
    <div style="margin-top: 1%;">
        <mat-card-title>
            <span style='padding:10px; font-size:80%;'>Accès au site:</span>
        </mat-card-title>

        <div style="margin-left: 2%;">
            <div>Si vous êtes déjà inscrit(e) utiliser le lien 'Connection' pour accéder au site</div>
        </div>
    </div>

    <div style="margin-top: 1%;">
        <mat-card-title>
            <span style='padding:10px; font-size:80%;'>Bonnes rencontres !</span>
        </mat-card-title>
    </div>

  </div>

  <!-- Upload de fichiers 
  <div style="background: rgb(56, 56, 165); width:45%; color: white; margin-top: 2%;">
    <div *ngIf="currentFile" class="progress">
      <div
        class="progress-bar progress-bar-info progress-bar-striped"
        role="progressbar"
        attr.aria-valuenow="{{ progress }}"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{ width: progress + '%' }"
      >
        {{ progress }}%
      </div>
    </div>
    
    <label class="btn btn-default">
      <input type="file" (change)="selectFile($event)" />
    </label>
    
    <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
      Télécharger
    </button>
    
    <div class="alert alert-light" role="alert">{{ message }}</div>
    
    <div class="card">
      <div class="card-header">Liste des fichiers</div>
      <ul
        class="list-group list-group-flush"
        *ngFor="let file of fileInfos | async"
      >
        <li class="list-group-item">
          <a href="{{ file.url }}">{{ file.name }}</a>
        </li>
      </ul>
    </div>    
    </div -->


  <router-outlet></router-outlet>

