<!--The content below is only a placeholder and can be replaced. -->
<div style="width:100%; height: 12%; text-align:center; background:orange" >
  <div style="position: absolute; left: 1%; top:2.5%;">
    <img src="../../assets/images/logo-excelmeet-arraow.png" width="84" alt="ExcelMeet"/>
  </div>
  <!--h1>
    {{ label }}
  </h1 -->

  <h2>
    {{ title }}
  </h2>

  <div style="position: absolute; right: 10%; top:5%;" *ngIf="isCurrentUser()">
    <button (click)="onClickAction(); actionSelect.open()"><img src="../../assets/images/male.ico" alt="Utilisateur"/><span style="color:green;font-style: italic;">  {{ loggedUser.email }}</span></button>
    <mat-select style="width:120px; position: relative;  right: 56%; top: 20px; visibility: hidden;" 
    [disableOptionCentering]="true" #actionSelect (selectionChange)="onActionChange($event.value)" (onBlur)="onActionChange($event.value)">
    <mat-option *ngFor="let action of actionsList" [value]="action">  {{ action }}</mat-option>
   </mat-select>
  </div>
</div>

<mat-toolbar color="primary">
    <!--
  <mat-toolbar-row>
        <a mat-button routerLink="/home" [style.color]="getHomeLabelColor()" *ngIf="showHomeItem()">Accueil</a>
          <span class="spacer"></span>
        <a mat-button routerLink="/register" [style.color]="getRegistrationLabelColor()" *ngIf="showRegistrationItem()">Inscription</a>
        <a mat-button routerLink="/login" [style.color]="red">Connection</a>
    </mat-toolbar-row>
   -->
 
    <mat-toolbar-row *ngIf="getCurrentOp() == 1">
      <a mat-button routerLink="/home" style="color:red;">Accueil</a>
        <span class="spacer"></span>
      <a mat-button routerLink="/register">Inscription</a>
      <a mat-button routerLink="/login">Connection</a>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="getCurrentOp() == 2">
        <a mat-button routerLink="/home">Accueil</a>
          <span class="spacer"></span>
        <a mat-button routerLink="/register" style="color:red;">Inscription</a>
        <a mat-button routerLink="/login">Connection</a>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="getCurrentOp() == 3">
        <a mat-button routerLink="/home">Accueil</a>
          <span class="spacer"></span>
        <a mat-button routerLink="/register">Inscription</a>
        <a mat-button routerLink="/login" style="color:red;">Connection</a>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="getCurrentOp() == 4">
        <mat-card-title>
            <span style='padding:10px; font-size:80%; color: white; font-style: italic;'>Espace utilisateur</span>
        </mat-card-title>
    </mat-toolbar-row>
</mat-toolbar>

  <!--div style="text-align:center">
  <!--h2>Auteur:  {{auteur}}</h2 -->
  <!--img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" -->
    <!--span  *ngIf="showCurrentUser">Connecté(e) par {{ displayCurrentUser() }}</spanr 
  <span  *ngIf="loggedUser">Connecté(e) par {{ loggedUser }}</span>
  <app-user-login (loggedUserEvent)="loggedUser=$event"></app-user-login>
</div>
<!--The content below is only a placeholder and can be replaced.
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> 
     <span><a  style="color:red; text-decoration: none;" href="/home">Accueil</a></span>
     <span class="spacer"></span>
     <a mat-button routerLink="/register">Inscription</a>
     <a mat-button routerLink="/login">Connection</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
-->
<!--app-user-home></app-user-home -->
<!--
<div style="background: red;height: 120px; width: 200px;" (focus)="actionSelect.open">
    <img src="../../assets/images/male.ico" alt="Utilisateur"/>
  AZERTY
  <span  *ngIf="showCurrentUser">
    <a (focus)="actionSelect.open()" (click)="actionSelect.open()"><img src="../../assets/images/male.ico" alt="Utilisateur"/> HELLO</a>
  </span>
  <mat-form-field class="button-spacing" [hidden]="false">
    <mat-select #actionSelect (focus)="actionSelect.open()">
      <mat-option value="red">Red</mat-option>
      <mat-option value="green">Green</mat-option>
    </mat-select>
  </mat-form-field>

</div>
-->

<router-outlet></router-outlet>


